In [1]:
import pandas as pd
users=pd.read_csv('/home/anu/Downloads/usercontent.csv',index_col=1)
users

                        ID  Box Office  For Children  Oscar
Film
Cronos                   1           2             1      1
Life of Brain            2           3             3      1
The Never-ending Story   3           2             5      1
Pinocchio                4           3             5      5
Titanic                  5           5             2      5

In [2]:
films=pd.read_csv('/home/anu/Downloads/filmcontent.csv',index_col=1)
films

        ID  Box Office  For Children  Oscar
Film
Graham   a           4             2      5
Terry G  b           1             2      2
Eric     c           5             4      4
John     d           4             3      1
Michael  e           3             2      5
Terry J  f           1             1      4

# equation of cosine similarity
cosine similarity=a.b/sqrt(a^2).sqrt(b^2)
=(4.2)+(2.1)+(5.1)/sqrt(4^2+2^2+5^2).sqrt(2^2+1^2+1^2)
15/sqrt(45*6)
=0.913

In [8]:
import numpy as np

def count_recom(user,users,films):
    try:
        u=users.iloc[user][1:].values
        print(u)
    except:
        print('Users do not exist')
        sys.exc_info()
        sys.exit(1)
    u_norm=np.linalg.norm(u)
    film_recom=[]
    print(u_norm)
    
    for row in range(films.shape[0]):
        f_name=films.index[row]
        #print(f_name)
        f=films.iloc[row][1:].values
        f_norm=np.linalg.norm(f)
        
        cos=np.dot(u,f)/(u_norm*f_norm)
        
        if cos>0.8:
            film_recom.append((f_name,cos))
        film_recom=sorted(film_recom,key=lambda x:x[1],reverse=True)
        
    return film_recom

recom1=count_recom(4,users,films)
print(recom1)

[5 2 5]
7.3484692283495345
[('Graham', 0.9940150117686348), ('Michael', 0.9713237285143654), ('Eric', 0.9553039244367126), ('Terry J', 0.8660254037844387), ('Terry G', 0.8618575020903775), ('John', 0.827328794659617)]